# virtualenv / pyenv
.venv
./env/
./.env
.python-version

# Python bytecode
__pycache__/
*.pyc

# ansible artifacts
./artifacts
playbooks/kubeconfig.yml
playbooks/inventories/discovered_hosts.json

# registry TLS key material (should be generated outside the repo, but just in case)
registry/*.key
registry/*.crt
registry/*.csr
registry/*.srl
registry/*.cnf
