[Unit]
Description=Edge cluster auto provisioner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=edgecluster
Group=edgecluster

WorkingDirectory=/opt/edge-cluster

ExecStart=/usr/bin/python3 /opt/edge-cluster/dhcp-listener.py

AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
NoNewPrivileges=yes

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target