[Unit]
Description=Config and start batman
After=network.target
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/config_batman.sh 192.168.42.3 192.168.42.1

[Install]
WantedBy=multi-user.target
