interface={{bat_interface}}
interface=lo
bind-interfaces
domain-needed
bogus-priv
dhcp-range={{dhcp_start}},{{dhcp_end}},{{lease_time}}h
dhcp-option=option:router,{{ manager_mesh_ip }}
dhcp-option=option:dns-server,{{ manager_mesh_ip }}
resolv-file=/run/systemd/resolve/resolv.conf
dhcp-option=option:domain-search,{{ gotham_domain }}
domain={{ gotham_domain }}
local=/{{ gotham_domain }}/

# Manager doesn't lease from its own dnsmasq, so it needs this explicit record.
host-record={{ pi_hostname }}.{{ gotham_domain }},{{ pi_hostname }},{{ manager_mesh_ip }}

# dashboard.{{ gotham_domain }} for dashboard/homepage.yml's NodePort.
host-record=dashboard.{{ gotham_domain }},dashboard,{{ manager_mesh_ip }}