[defaults]
  inventory = inventories/discover.py
  host_key_checking = False
  interpreter_python = auto_silent
  timeout = 30
  become_timeout = 30

[ssh_connection]
  ssh_args = -o ServerAliveInterval=10 -o ServerAliveCountMax=3 -o ControlMaster=auto -o ControlPersist=60s
  pipelining = True

