[defaults]
  inventory = inventories/static.ini
  host_key_checking = False

[ssh_connection]
  ssh_args = -o ServerAliveInterval=10 -o ServerAliveCountMax=3 -o ControlMaster=auto -o ControlPersist=60s
  pipelining = True

